<html>
    <head>
        <meta charset="UTF-8" />
        <title>参数</title>
    </head>
    <body>
        <form action="./login" method="post">
            <label for="email">
                E-mail:<input type="text" name="email" value="" />
            </label>
            <label for="password">
                Password:<input type="password" name="password" value="" />
            </label>
            <label for="submit">
                <input type="submit" value="提交" />
            </label>
        </form>
        <div>
            Email:{email}, 密码:{password}
        </div>
    </body>
</html>